# dependencies
node_modules/

# env files
.env
.env.local
.env.*.local

# build output
dist/
build/

# Expo
.expo/
.expo-shared/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.metro-health-check*

# logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# Claude
.claude/
